* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


a {
    text-decoration: none;
}

.formLine {
    margin: 0.5rem;
}

.formContainer {
    width: 80%;
    margin: 0.5rem auto;
}