* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


a {
    text-decoration: none;
}

.formLine {
    margin: 0.5rem;
}

.formContainer {
    width: 90%;
    margin: 0.5rem auto;
    position: relative;

}

.formLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-control {
    width: 93%;
    border: 1px solid;
}

.alert {
    background-color: rgba(255, 0, 0, 0.486);
    border-radius: 0.5rem;
    padding: 0.5rem;

}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
    width: 93%;
    margin-left: 7%;
}

.btn {
    background-color: rgb(0, 157, 255);
    padding: 0.2rem 0.5rem;
    border-radius: 0.6rem;
    margin: 0.5rem 0;
}

.btnDelete {
    background-color: rgb(255, 0, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 0.6rem;
    margin: 0.5rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
}